# Dependencies
node_modules/
frontend/node_modules/

# Local audit reports & cache
auditx-reports/
reports-cache/
.dfx/
target/
.next/
frontend/.next/

# OS-specific files
.DS_Store
Thumbs.db

# Build and Cache
artifacts/
cache/
dist/

# Env files
.env
.env.local
